.dropdown-logout {
    display: none;
    position: absolute;
    right: 35px;
    background-color: rgb(221, 221, 221);
    padding: 15px;
}

.dropdown-logout a:hover {
    background-color: rgb(255, 255, 255);
    padding: 1px;
}

#greetings {
    text-align: center;
}

#greetings input {
    width: 100%;
    border-radius: 50px;
    padding: 15px;
}

#greetings div {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#greetings div button {
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}

#greetings div button:hover {
    background-color: rgb(161, 161, 161);
    transform: translateX(5px);
    transition: transform 0.2s ease-in-out;
}
