.ul_container {
    display: flex;
}

.header_container {
    display: flex;
    align-items: center;
}

header {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
}

footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}

.header_container1 {
    position: absolute;
    right: 30px;
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
    border-radius: 1rem;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    padding: 10px;
    text-align: center;
}

.input_container {
    margin-bottom: 10px;
}