#profile_id {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
    border-radius: 1rem;
    width: 20rem;
    height: 30rem;
    margin-top: 2rem;
    text-align: center;
    padding: 30px;
}

.citelogo {
    height: 6rem;
    width: 6rem;
}

.profile_2 {
    display: flex;
    text-align: left;
    gap: 10px;
}

.profile_2 h1 {
    font-size: 22px;
}

.profile_3 {
    text-align: left;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
}

.dummylogo {
    margin-top: 1rem;
    height: 9rem;
    width: 9rem;
}

.profile_4 h1 {
    margin-top: 1rem;
}

.profile_4 h4 {
    margin-top: 10px;
}

.profile_5 {
    margin-top: 1.4rem;
}

.profile_5 h4 {
    margin-top: 10px;
}

span {
    display: none;
    cursor: pointer;
}

.settings {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -15rem;
    margin-left: 10rem;
    cursor: pointer;
}

#edit {
    font-size: 1rem !important;
    padding: 0;
    margin: 0;
}

form {
    display: none;
}

form input {
    font-size: 1rem;
    margin-top: 1rem;
}

button {
    cursor: pointer;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    padding: 10px;
    background-color: #dddddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:hover {
    background-color: #1177d1;
}

#next_button {
    margin-left: 17rem;
}
#prev_button {
    margin-left: -17rem;
    display: none;
}
