* {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
}

li {
    list-style-type: none;
}

input {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: rgb(221, 221, 221);
}
