<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>idTracker | Home</title>
        <link rel="stylesheet" href="./assets/css/styles.css">
        <link rel="stylesheet" href="./assets/css/home.css">
    </head>
    <body>
        <header>
            <div class="header_container">
                <h1 id="title" style="cursor: pointer; margin-left: 1rem;">ID Tracker</h1>
                <div class="header_container1">
                    <ul class="ul_container">
                        <li style="margin: 0 20px;" id="signupPage"><a href="">Signup</a></li>
                        <li><a href="" id="loginPage">Login</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div id="greetings" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
            <h1>WELCOME TO CITE ID TRACKER</h1>
        </div>
        <div id="login" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
        </div>
        <footer>
            <p>~ Created by "GROUP 3" ~</p>
        </footer>
    </body>
    <script src="./assets/js/home.js"></script>
</html>